{% extends 'entries/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'landing.css' %}">
{% endblock %}
{%block content%}



<nav class="navbar ">
  

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
  
      {% if user.is_authenticated %}
            <ul class="navbar-nav mr-right">
                <li class="nav-item">
                    <a class="nav-link">Hello {{ user.username }}</a>
                </li>
                
            </ul>
        {% else %}
            <form class="form-inline my-2 my-lg-0" action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <input class="form-control mr-sm-2" type="text" placeholder="Username" aria-label="Username"
                       name="username" id="id_username">
                <input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Password"
                       name="password" id="id_password">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign in</button>
            </form>
        {% endif %}
        <ul class="navbar-nav mr-auto">
            
            <li class="nav-item">
              <a class="nav-link" href="{% url 'landing' %}">Logout</a>
              
            </li>
            
        </ul>
        
    </div>
  </nav>
  
  {% if request.user.is_authenticated %}
        
        <h1 class="loader">Write your day :)</h1>
      {% else %}
        <h1 class="loader">Edit your day!</h1>         
        {% endif %}
        <form method="POST">
        {% csrf_token %}
        
        <input type="submit" class="btn btn-success" value="Submit">
      </form>











<article>
    <h2 class="mark">{% now "Y-m-d H:i" %}</em></h2>
    <a href="{% url 'entry-create' %}"><button>Add new entry</button></a>
</article>



{% for entry in entry_list %}
        <article>
            <h2 class="{{ entry.date_created|date:'l' }}">
                {{ entry.date_created|date:'Y-m-d H:i' }}
            </h2>
            <h3>
                <a href="{% url 'entry-detail' entry.id %}">
                    {{ entry.title }}
                </a>
            </h3>
        </article>
    {% endfor %}


{% endblock %}
